body {
    margin-top: 200px;
}

.menu {
    display: flex;
    flex-wrap: nowrap; /* Empêche le retour à la ligne des éléments */
    justify-content: center; 
  }
  
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: 0 10px; 
    transition: transform 0.3s ease;
    padding: 30px;
  }
  
  .link:hover {
    transform: scale(1.1);
  }
  
  .link img {
    margin-bottom: 10px;
  }
  
  