body{
    margin-top: 100px;
    
}

hr{
    width: 200%;
    background-color: black;
}

h3{
    margin-right: 25px;
}
.Connexion{
    margin-top: 120px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

input {
    margin-top: 5px;
    padding: 10px 5px 10px 10px;
    border: 1px solid #c9c9c9;
    outline-color: rgb(114, 2, 2);
    border-radius: 10px;
}

p2{
    margin-right: 50px;
}

.Contenue{
    margin-right: 45%;
}