.container{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171714;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ffffff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  label {
    margin: 10px;
    color: white;
    font-size: 1.2rem;
  }
  
  input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  input[type='submit'] {
    background-color: white;
    color: #1a1504;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    width: 50%;
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  